.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    padding: 20px 30px;
    color: white;
    border-bottom: 0.5px solid rgb(80, 80, 80);
}

.icon-button,
.q-circle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: white;
    font-family: montserrat;
}

.logo span {
    color: #7c61f5;
}