.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #111;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar button {
    border: none;
    background-color: #111;
    color: white;
    cursor: pointer;
}


.sidebar a:hover {
    background-color: #575757;
}